<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analyze Text</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='analyse.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Analyze Text</h1>
      <form action="{{ url_for('analyze_text') }}" method="POST">
        <label for="text">Enter your text:</label>
        <textarea id="text" name="text" rows="4" cols="50"></textarea>
        <button type="submit">Analyze</button>
      </form>
    </div>
  </body>
</html>
